.numeric {
  text-align: end;
}

body {
  background-color: #6c757d;
}

.container {
  background-color: #fff;
}

input[type="text"],
input[type="date"],
input[type="number"] {
  font-weight: bold;
}

.main-flex {
  display: flex;
}

.main-data-picker,
.main-chart {
  width: 50%;
}

.main-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
