.numeric {
  text-align: end;
}

body {
  background-color: #6c757d;
}

.container {
  background-color: #fff;
}

input[type="text"],
input[type="date"],
input[type="number"],
.input-group-text {
  font-weight: bold;
}

.hide {
  display: none;
}

.main-flex,
.loan-calculation-header {
  display: flex;
  width: 100%;
}

.main-data-picker,
.main-chart {
  width: 50%;
}

.main-chart,
.loan-calculation-text-section,
.loan-calculation-chart-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
